<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become an Author</title>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <script defer src="/javascripts/registervalidator.js"></script>
    <div class="form-container">
      <div class="logo"><a href="#">Blogify</a><p>Register to become an author</p></div>
      <form method="POST" action="/auth/register">
        <div class="form-group">
        <label for="name">Name</label>
        <input
        name="name"
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input
        name="email"
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
        name="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        required
        />
      </div>
      <div class="form-group">
        <label for="passwd-confirm">Password</label>
        <input
        type="password"
        class="form-control"
        id="password-confirm"
        placeholder="Confirm your password"
        required
        />
      </div>
      <div class="error-container"></div>
      <button type="submit" id="submit" class="btn btn-primary">REGISTER</button>
    </div>
    </form>
  </body>
</html>
