<header>
  <nav>
    <div class="nav-container">
      <div class="container">
        <div class="logo"><a href="#">Blogify</a></div>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/privacy">privacy</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
