<aside>
  <div class="categories">
    <div class="container">
      <h4>Categories</h4>
      <ul>
        <% for(let i =0; i < categories.length; i++) { %>
        <li><a href=""><%= categories[i] %></a></li>
        <% }%>
      </ul>
    </div>
  </div>
</aside>
