<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/static_pages.css" />
  </head>
  <body>
    <%-include('partials/header');-%>

    <div class="main-content">
      <div class="container">
        <h1>About Page</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
          cupiditate nisi magnam modi assumenda optio, consectetur maiores
          cumque hic nemo animi minima veritatis exercitationem aliquam placeat!
          Quisquam a rerum velit temporibus iure. Repudiandae fugit esse
          doloribus facere enim accusamus, quaerat exercitationem ducimus,
          delectus cumque cum velit odit saepe, neque rem perferendis deleniti
          ex! Reiciendis aut corrupti, iusto ex ad, iste minus nisi culpa
          pariatur modi sapiente quo recusandae tempore nobis ab quis laudantium
          eum. Veritatis mollitia tenetur repudiandae ea ex voluptatem doloribus
          neque perferendis nostrum culpa aliquid, consectetur officiis omnis
          earum inventore sequi cumque impedit molestiae aut! Voluptatibus,
          molestiae. Sequi pariatur saepe officiis recusandae illo dolores
          adipisci quis deleniti nobis rem neque tempore corrupti, fuga
          cupiditate dignissimos. Aspernatur, nam modi!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit at
          libero exercitationem voluptatem quod reiciendis voluptatibus
          dignissimos, explicabo ad ullam, ducimus numquam officiis! Voluptatem,
          reiciendis pariatur mollitia, numquam laudantium cupiditate autem
          officiis unde temporibus quos, optio in illo nemo delectus inventore
          animi dolor ducimus fugit modi. Impedit, nostrum explicabo enim
          necessitatibus labore omnis nobis, reprehenderit tenetur nam, quasi
          repudiandae? Corrupti, suscipit ab. Tempora inventore dolorum velit a
          provident, pariatur architecto. Excepturi error odit placeat
          recusandae architecto rem magni eaque alias molestiae distinctio
          voluptate reiciendis, maxime impedit aspernatur natus aliquid
          repellendus velit hic autem porro dolorum sequi fuga! Natus fuga
          aliquam consequatur voluptates at voluptate sapiente voluptas
          asperiores ipsa explicabo sequi culpa temporibus nisi iusto numquam
          placeat, nesciunt vitae quaerat, blanditiis enim quam laborum officia.
          Minus officia esse neque, praesentium, dolorem quo nobis amet odio,
          incidunt quia aliquid exercitationem facilis natus?
        </p>
        <h2>Lorem, ipsum</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
          cumque fuga minima, repellat inventore facilis soluta assumenda
          accusantium optio esse provident animi molestias magnam repudiandae
          itaque enim saepe accusamus praesentium, et veniam perferendis ab
          iusto quaerat quas. Doloremque consequuntur tempora sint commodi,
          explicabo perspiciatis nulla cupiditate libero adipisci possimus esse
          quisquam error nihil a impedit iure, mollitia eius distinctio ut ipsam
          veritatis unde odio? Autem fugiat odit ab maiores amet libero
          voluptate molestiae sed, quisquam quia voluptatum asperiores illo. Ab
          excepturi eaque reprehenderit totam. Excepturi accusamus tempore quia
          impedit non?
        </p>
      </div>
    </div>

    <%-include('partials/footer');-%>
  </body>
</html>
