<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-container">
          <div class="container">
            <div class="logo"><a href="#">Blogify</a></div>
            <ul>
              <li><a href="home">home</a></li>
              <li><a href="about">about</a></li>
              <li><a href="privacy">privacy</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <aside>
      <div class="categories">
        <div class="container">
          <h4>Categories</h4>
          <ul>
            <li><a href="cat1">Lifestyle</a></li>
            <li><a href="">Home Design</a></li>
            <li><a href="">Technology</a></li>
            <li><a href="">Food For Thought</a></li>
          </ul>
        </div>
      </div>
    </aside>

    <div class="main-content">
      <div class="container">
        <div class="blog-posts">
          <div class="blog-post">
            <div class="blog-post-header">
              <a href="">
                <h2>What a wonderful life</h2>
              </a>
            </div>
            <div class="blog-post-content">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Dignissimos accusamus consequatur repudiandae exercitationem
                tempore magni nesciunt cupiditate sit voluptatum consequuntur
                alias voluptatibus, nobis, vitae, repellat nihil rem sed fugiat
                iusto!
              </p>
            </div>
          </div>
          <div class="blog-post">
            <div class="blog-post-header">
              <a href="">
                <h2>Minimalism</h2>
              </a>
            </div>
            <div class="blog-post-content">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Dignissimos accusamus consequatur repudiandae exercitationem
                tempore magni nesciunt cupiditate sit voluptatum consequuntur
                alias voluptatibus, nobis, vitae, repellat nihil rem sed fugiat
                iusto!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <p>@ Blogify - 2021</p>
      </div>
    </footer>
  </body>
</html>
