<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-container">
          <div class="container">
            <div class="logo"><a href="#">Blogify</a></div>
            <ul>
              <li><a href="home">home</a></li>
              <li><a href="about">about</a></li>
              <li><a href="privacy">privacy</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <aside>
      <div class="categories">
        <div class="container">
          <h4>Categories</h4>
          <ul>
            <% for(let i =0; i < categories.length; i++) { %>
            <li><a href=""><%= categories[i] %></a></li>
            <% }%>
          </ul>
        </div>
      </div>
    </aside>

    <div class="main-content">
      <div class="container">
        <div class="blog-posts">
          <% for(let i = 0; i < posts.length; i++) { %>
          <div class="blog-post">
            <div class="blog-post-header">
              <a href="">
                <h2><%= posts[i].title %></h2>
              </a>
            </div>
            <div class="blog-post-content">
              <p><%= posts[i].content %></p>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <p>@ Blogify - 2021</p>
      </div>
    </footer>
  </body>
</html>
