<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/post.css" />
  </head>
  <body>
    <%-include('partials/header'); -%>

    <div class="main-content">
      <div class="post container">
        <div class="post-header">
          <h1><%=post.title%></h1>
        </div>
        <div class="post-content">
          <% for(let i = 0; i < post.body.length; i++){ %>
          <p><%= post.body[i] %></p>
          <% } %>
        </div>
      </div>
    </div>

    <%-include('partials/footer'); -%>
  </body>
</html>
