<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy</title>
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/static_pages.css" />
  </head>
  <body>
    <%-include('partials/header');-%>

    <div class="main-content">
      <div class="container">
        <h1>Privacy</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          explicabo, enim consectetur voluptates nisi laboriosam autem sequi qui
          suscipit porro? Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Voluptate atque alias molestias laboriosam eligendi minus
          expedita natus soluta necessitatibus voluptas.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
          aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Deleniti provident harum consectetur blanditiis reiciendis animi quis
          labore obcaecati nostrum? Aliquid deserunt aut expedita quod ad
          accusantium magnam similique. Maxime soluta magnam officiis accusamus
          dolore. Eius rem molestiae voluptate aperiam aliquam! Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Facilis, assumenda
          molestiae nostrum incidunt, mollitia quas, maxime quibusdam nesciunt
          esse fugiat est eaque doloremque unde eos eius perferendis magni animi
          quos!
        </p>
        <h3>Lorem, ipsum.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
          blanditiis voluptate aspernatur molestias ipsa autem cumque officiis
          nulla aut saepe velit modi non nobis vel sit laborum aperiam soluta
          mollitia odit possimus sed a veniam, quae pariatur! Officia nulla quos
          modi! Itaque et soluta eos optio architecto. Earum, consectetur
          sapiente accusamus libero omnis pariatur exercitationem quisquam
          laboriosam molestias numquam similique?
        </p>
        <h3>Lorem, dolor</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
          architecto odio quibusdam porro odit saepe fuga, eum, non asperiores
          perspiciatis soluta, nemo eos iusto. Quis voluptate, magni veniam ut
          porro cum, officiis amet illo omnis nam officia, rerum tempore facilis
          quidem. Atque eaque doloribus, non deleniti quidem omnis assumenda
          recusandae nulla sed totam laudantium odit laboriosam facilis. Nam
          commodi facere nisi natus dolore tenetur! Blanditiis laboriosam
          dolorem quis minus similique aliquam adipisci exercitationem quaerat
          vero quos aliquid pariatur maxime quasi explicabo, sed eum obcaecati
          libero magnam maiores cumque harum deleniti, quia inventore
          reprehenderit. Ex facere deserunt quam voluptas ullam eius!
        </p>
        <h3>Sit amet</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          laudantium consequuntur perferendis unde explicabo id dolorem nam
          incidunt, ea, fugiat voluptatibus quaerat neque doloribus nemo
          delectus eos iusto? Aut, officiis hic beatae maxime exercitationem
          sapiente officia magnam? Aut, perspiciatis. Harum impedit maiores
          soluta porro dicta commodi excepturi, quos eos praesentium repellat
          sit exercitationem aliquam ipsa, earum necessitatibus magnam, illo
          corrupti vitae ea temporibus odit? Quod accusantium mollitia illum.
          Cupiditate, nisi!
        </p>
      </div>
    </div>

    <%-include('partials/footer');-%>
  </body>
</html>
