<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .edit-options {
        display: flex;
        gap: 0.6rem;
        visibility: hidden;
      }

      tr:hover .edit-options {
        visibility: visible;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>
          Post 1
          <div class="edit-options">
            <button id="edit">Edit</button><button id="delete">Delete</button>
          </div>
        </td>
        <td>Jane Herakles</td>
        <td>Health</td>
        <td>2021-12-12</td>
      </tr>
      <tr>
        <td>Post 2</td>
        <td>Jordy Alba</td>
        <td>Wealth</td>
        <td>2021-12-12</td>
      </tr>
      <tr>
        <td>Post 3</td>
        <td>Messsi</td>
        <td>Football</td>
        <td>2021-12-12</td>
      </tr>
    </table>
  </body>
</html>
