@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Pacifico&display=swap');

:root {
    --font-color: #3c3c3c;
    --background-color: #DDD;
    font-size: 14px;
}

body {
    font-family: 'Open Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.small-font {
    font-size: .8rem;
}

.large-font {
    font-size: 1rem;
}