@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Pacifico&display=swap');

:root {
    --font-color: #3c3c3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans';
    color: var(--font-color);

    display: grid;
    grid-template-areas: "header header header"
        "side-nav main-content main-content"
        "footer footer footer";
}

.container {
    padding: 2rem 2rem;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

/* HEADER */
header {
    grid-area: header;
}

/* END HEADER */

/* TOP NAVIGATION */

nav .nav-container {
    background-color: #CCC;
    display: flex;
}

nav .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Pacifico';
    font-size: 2rem;
}

.logo a {
    text-decoration: none;
    color: var(--font-color);
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding-right: 2rem;
}

nav li:last-child {
    padding-right: 0;
}

nav ul a {
    text-decoration: none;
    color: var(--font-color);
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 10px;
}

nav ul a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #3c3c3c;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav ul a:hover:after {
    width: 100%;
    left: 0;
}

nav ul li.active a {
    font-weight: bold;
    color: black;
}

/* END TOP NAVIGATION */


/* SIDE NAV */
aside {
    grid-area: side-nav;
}

aside {
    max-width: 16rem;
}

aside ul {
    list-style-type: none;
}

aside h4 {
    margin-bottom: 1rem;
}

aside ul li {
    margin-bottom: .2rem;
}

aside li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 0.9rem;
}

aside li a:hover {
    text-decoration: underline;
}

/* END SIDE NAV */


/* MAIN CONTENT */
.main-content {
    grid-area: main-content;
    min-height: calc(100vh - 240px);
}

.post-card {
    margin-bottom: 2rem;
}

.post-card .blog-post-header {
    margin-bottom: 1rem;
}

.post-card .blog-post-header a:hover {
    text-decoration: underline;
}



/* END MAIN CONTENT */



/* FOOTER */
footer {
    grid-area: footer;
    background-color: #CCC;
}

footer .container {
    display: flex;
    flex-direction: row-reverse;
}

/* END FOOTER */

@media screen and (max-width: 1200px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    body {
        grid-template-areas: "header"
            "side-nav"
            "main-content"
            "footer";
    }

    /* .container {
        width: 100%;
    } */
}

@media screen and (max-width: 720px) {
    .nav-container .container {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 2rem;
    }
}