body {
    display: grid;
    grid-template-areas: "header header header"
        "side-nav main-content main-content"
        "footer footer footer";
}

.container {
    padding: 2rem 3rem;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

/* HEADER */
header {
    grid-area: header;
}

/* END HEADER */


/* SIDE NAV */
aside {
    grid-area: side-nav;
}

aside {
    max-width: 16rem;
}

aside ul {
    list-style-type: none;
}

aside h4 {
    margin-bottom: 1rem;
}

aside ul li {
    margin-bottom: .2rem;
}

aside li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 0.9rem;
}

aside li a:hover {
    text-decoration: underline;
}

/* END SIDE NAV */


/* MAIN CONTENT */
.main-content {
    grid-area: main-content;
    min-height: calc(100vh - 206px);
}

.post-card {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.post-card .blog-post-header {
    margin-bottom: 1rem;
}

.post-card .blog-post-header a:hover {
    text-decoration: underline;
}

.post-card h2 {
    display: inline;
}

.post-card .post-date {
    display: inline;
    margin-left: 1rem;
}

/* END MAIN CONTENT */



/* FOOTER */
footer {
    grid-area: footer;
    border-top-left-radius: 6rem;
    background-color: var(--background-color);
}

footer .container {
    display: flex;
    flex-direction: row-reverse;
}

/* END FOOTER */
@media screen and (max-width: 920px) {
    body {
        grid-template-areas: "header"
            "side-nav"
            "main-content"
            "footer";
    }
}