.main-content {
    margin: 2rem 3rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.edit-options {
    display: flex;
    gap: 0.6rem;
    /* visibility: hidden; */
}

tr:hover .edit-options {
    visibility: visible;
}

.add-post {
    margin-top: 2rem;
}

.btn-small {
    margin-top: .4rem;
    border: none;
    outline: none;
}

.btn-small:hover {
    opacity: .8;
    cursor: pointer;
    text-decoration: underline;
}