.post .post-content p {
    margin: 1rem 0;
    line-height: 1.8rem;
}

.post-content h2,
h3,
h4,
img {
    margin-top: 2rem;
}

.post-content .image-container {
    display: flex;
    justify-content: center;
}

.post-content img {
    border-radius: 0.4rem;
}

body {
    display: grid;
    grid-template-areas: "header header header"
        "main-content main-content main-content"
        "footer footer footer";
}